In [1]:
#!pip install ipython-sql
%load_ext sql
%sql sqlite:///./Save/us_covid.db

Connecting to 'sqlite:///./Save/us_covid.db'

In [2]:
%%sql
SELECT * FROM UScovid_tracking

Running query in 'sqlite:///./Save/us_covid.db'

+-------+----------------------------+--------+------------+------------+---------+-----------------------+------------------------+----------------+-----------------+-----------------------+------------------------+----------------------+----------+--------------+------------------+----------------------+-----------+-------+--------+---------------+----------------------+------------------+------------------+--------------------------+
| index |            date            | states |  positive  |  negative  | pending | hospitalizedCurrently | hospitalizedCumulative | inIcuCurrently | inIcuCumulative | onVentilatorCurrently | onVentilatorCumulative |     dateChecked      |  death   | hospitalized | totalTestResults |     lastModified     | recovered | total | posNeg | deathIncrease | hospitalizedIncrease | negativeIncrease | positiveIncrease | totalTestResultsIncrease |
+-------+----------------------------+--------+------------+------------+---------+-----------------------+------------------------+----------------+-----------------+-----------------------+------------------------+----------------------+----------+--------------+------------------+----------------------+-----------+-------+--------+---------------+----------------------+------------------+------------------+--------------------------+
|   0   | 2021-03-07 00:00:00.000000 |   56   | 28756489.0 | 74582825.0 | 11808.0 |        40199.0        |        776361.0        |     8134.0     |     45475.0     |         2802.0        |         4281.0         | 2021-03-07T24:00:00Z | 515151.0 |   776361.0   |    363825123     | 2021-03-07T24:00:00Z |    None   |   0   |   0    |      842      |         726          |      131835      |      41835       |         1170059          |
|   1   | 2021-03-06 00:00:00.000000 |   56   | 28714654.0 | 74450990.0 | 11783.0 |        41401.0        |        775635.0        |     8409.0     |     45453.0     |         2811.0        |         4280.0         | 2021-03-06T24:00:00Z | 514309.0 |   775635.0   |    362655064     | 2021-03-06T24:00:00Z |    None   |   0   |   0    |      1680     |         503          |      143835      |      60015       |         1430992          |
|   2   | 2021-03-05 00:00:00.000000 |   56   | 28654639.0 | 74307155.0 | 12213.0 |        42541.0        |        775132.0        |     8634.0     |     45373.0     |         2889.0        |         4275.0         | 2021-03-05T24:00:00Z | 512629.0 |   775132.0   |    361224072     | 2021-03-05T24:00:00Z |    None   |   0   |   0    |      2221     |         2781         |      271917      |      68787       |         1744417          |
|   3   | 2021-03-04 00:00:00.000000 |   56   | 28585852.0 | 74035238.0 | 12405.0 |        44172.0        |        772351.0        |     8970.0     |     45293.0     |         2973.0        |         4267.0         | 2021-03-04T24:00:00Z | 510408.0 |   772351.0   |    359479655     | 2021-03-04T24:00:00Z |    None   |   0   |   0    |      1743     |         1530         |      177957      |      65487       |         1590984          |
|   4   | 2021-03-03 00:00:00.000000 |   56   | 28520365.0 | 73857281.0 | 11778.0 |        45462.0        |        770821.0        |     9359.0     |     45214.0     |         3094.0        |         4260.0         | 2021-03-03T24:00:00Z | 508665.0 |   770821.0   |    357888671     | 2021-03-03T24:00:00Z |    None   |   0   |   0    |      2449     |         2172         |      267001      |      66836       |         1406795          |
|   5   | 2021-03-02 00:00:00.000000 |   56   | 28453529.0 | 73590280.0 | 11196.0 |        46388.0        |        768649.0        |     9465.0     |     45084.0     |         3169.0        |         4257.0         | 2021-03-02T24:00:00Z | 506216.0 |   768649.0   |    356481876     | 2021-03-02T24:00:00Z |    None   |   0   |   0    |      1728     |         1871         |      255779      |      54248       |         1343519          |
|   6   | 2021-03-01 00:00:00.000000 |   56   | 28399281.0 | 73334501.0 | 11748.0 |        46738.0        |        766778.0        |     9595.0     |     44956.0     |         3171.0        |         4252.0         | 2021-03-01T24:00:00Z | 504488.0 |   766778.0   |    355138357     | 2021-03-01T24:00:00Z |    None   |   0   |   0    |      1241     |         1024         |      118077      |      48092       |         1154440          |
|   7   | 2021-02-28 00:00:00.000000 |   56   | 28351189.0 | 73216424.0 | 11708.0 |        47352.0        |        765754.0        |     9802.0     |     44907.0     |         3245.0        |         4252.0         | 2021-02-28T24:00:00Z | 503247.0 |   765754.0   |    353983917     | 2021-02-28T24:00:00Z |    None   |   0   |   0    |      1051     |         879          |      203599      |      54349       |         1408422          |
|   8   | 2021-02-27 00:00:00.000000 |   56   | 28296840.0 | 73012825.0 | 11731.0 |        48871.0        |        764875.0        |    10114.0     |     44875.0     |         3335.0        |         4252.0         | 2021-02-27T24:00:00Z | 502196.0 |   764875.0   |    352575495     | 2021-02-27T24:00:00Z |    None   |   0   |   0    |      1847     |         1428         |      205090      |      71245       |         1655179          |
|   9   | 2021-02-26 00:00:00.000000 |   56   | 28225595.0 | 72807735.0 | 11945.0 |        51112.0        |        763447.0        |    10466.0     |     44791.0     |         3466.0        |         4247.0         | 2021-02-26T24:00:00Z | 500349.0 |   763447.0   |    350920316     | 2021-02-26T24:00:00Z |    None   |   0   |   0    |      2141     |         1868         |      276829      |      74857       |         1803309          |
+-------+----------------------------+--------+------------+------------+---------+-----------------------+------------------------+----------------+-----------------+-----------------------+------------------------+----------------------+----------+--------------+------------------+----------------------+-----------+-------+--------+---------------+----------------------+------------------+------------------+--------------------------+
Truncated to displaylimit of 10.

In [5]:
%%sql
SELECT date, death, hospitalizedCurrently, inIcuCurrently, negative, positive
  FROM UScovid_tracking
  LIMIT 5

Running query in 'sqlite:///./Save/us_covid.db'

+----------------------------+----------+-----------------------+----------------+------------+------------+
|            date            |  death   | hospitalizedCurrently | inIcuCurrently |  negative  |  positive  |
+----------------------------+----------+-----------------------+----------------+------------+------------+
| 2021-03-07 00:00:00.000000 | 515151.0 |        40199.0        |     8134.0     | 74582825.0 | 28756489.0 |
| 2021-03-06 00:00:00.000000 | 514309.0 |        41401.0        |     8409.0     | 74450990.0 | 28714654.0 |
| 2021-03-05 00:00:00.000000 | 512629.0 |        42541.0        |     8634.0     | 74307155.0 | 28654639.0 |
| 2021-03-04 00:00:00.000000 | 510408.0 |        44172.0        |     8970.0     | 74035238.0 | 28585852.0 |
| 2021-03-03 00:00:00.000000 | 508665.0 |        45462.0        |     9359.0     | 73857281.0 | 28520365.0 |
+----------------------------+----------+-----------------------+----------------+------------+------------+

In [6]:
%%sql
SELECT date, death, hospitalizedCurrently, inIcuCurrently, negative, positive
  FROM UScovid_tracking_null_non_null
  LIMIT 5

Running query in 'sqlite:///./Save/us_covid.db'

+----------------------------+-------+-----------------------+----------------+----------+----------+
|            date            | death | hospitalizedCurrently | inIcuCurrently | negative | positive |
+----------------------------+-------+-----------------------+----------------+----------+----------+
| 2021-03-07 00:00:00.000000 |   1   |           1           |       1        |    1     |    1     |
| 2021-03-06 00:00:00.000000 |   1   |           1           |       1        |    1     |    1     |
| 2021-03-05 00:00:00.000000 |   1   |           1           |       1        |    1     |    1     |
| 2021-03-04 00:00:00.000000 |   1   |           1           |       1        |    1     |    1     |
| 2021-03-03 00:00:00.000000 |   1   |           1           |       1        |    1     |    1     |
+----------------------------+-------+-----------------------+----------------+----------+----------+